<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Url Shortener</title>

    <style>
        #page-container {
            position: relative;
            min-height: 100vh;
        }

        #content-wrap {
            padding-bottom: 2.5rem;

        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 4.0rem;
            text-align: center;

        }
    </style>
</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/">
                   M.S. UrlShort
                </a>
                <span>
                    <a href="/"><button type="button" class="btn btn-info">Home</button></a>
                    <a href="/create/"><button type="button" class="btn btn-dark">Create New URL</button></a>
                </span>
            </nav>

            {% block content %}

            {% endblock content %}
        <footer id="footer">
            <h4>&copy M.S. 2023</h4>
        </footer>
        </div>
    </div>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>